{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/venissieuxinventaireSDBfront/stylesheets/intranet.css') }}" rel="stylesheet" />
{% endblock %}


{% block javascript_head %}
{% endblock %}

{% block body %}

    <div id="page">
        <div id="connexion">
            <p>&nbsp;</p>
        </div>
        <div id="header">
            <img src="{{ asset('bundles/venissieuxinventaireSDBfront/images/header.png') }}" alt="Intranet de la ville de Vénissieux" />
        </div>
        <div id="error">
            <br/>
            <h1>Page non trouvée</h1>
            <br/>
            <br/>
            <br/>
            <h2>La page à laquelle vous tentez d'accéder n'existe pas. Merci de contacter la DSI (<span class="italic">supportdsi@ville-venissieux.fr</span>).
                <br/>
                <br/>
                <br/>Code erreur : <span class="error">{{ status_code }} {{ status_text }}</span>
            </h2>
        </div>
        <div id="footer">
            InventaireSDB v1.0 - Ville de Vénissieux - Direction des systèmes d'information - 2017
        </div>
    </div>
{% endblock %}

