{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/venissieuxinventairesdbfront/stylesheets/intranet.css') }}" rel="stylesheet" />
{% endblock %}


{% block javascript_head %}
{% endblock %}

{% block body %}

    <div id="page">
        <div id="connexion">
            <p>&nbsp;</p>
        </div>
        <div id="header">
            <img src="{{ asset('bundles/venissieuxinventairesdbfront/images/header.png') }}" alt="Intranet de la ville de Vénissieux" />
        </div>
        <div id="error">
            <br/>
            <h1>Erreur applicative</h1>
            <br/>
            <br/>
            <br/>
            <h2>L'application <span class="italic">InventaireSDB</span> a rencontré une erreur. Merci de contacter la DSI (<span class="italic">supportdsi@ville-venissieux.fr</span>).
                <br/>
                <br/>
                <br/>Code erreur : <span class="error">{{ status_code }} {{ status_text }}</span>
            </h2>
        </div>
        <div id="footer">
            InventaireSDB BETA 0.10 - Ville de Vénissieux - Direction des systèmes d'information - 2017
        </div>
    </div>
{% endblock %}

