<!doctype html>
<html lang="fr">       
    <head>
        <title>  Ville de Vénissieux - Inventaire SDB
        </title>
        <meta name="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Content-language" content="fr-FR" />
        <meta name="author" content="Ville de Vénissieux" />
        <meta name="copyright" content="Ville de Vénissieux" />
        <meta name="keywords" content="Inventaire,SDB" />
        {% block stylesheets %}{% endblock %}
        {% block javascript_head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
