{% extends 'VenissieuxInventaireSDBFrontBundle::layout.html.twig' %}

{% block content %}
    
    
    <div id ="nouvelItem">
        <a href="{{ path('venissieux_inventaire_SDB_front_edition_exporter') }}">
            Exporter&nbsp;
            <img src="{{ asset('bundles/venissieuxinventaireSDBfront/images/glyphicons-360-file-export.png') }}" alt="Ajouter" />
        </a>
    </div>






{% endblock %}
